# The name of the fleet, container, and image
name: ""

# The full image. Defaults to "ghcr.io/emortalmc/games:{name}-{version}"
image:
  # The image format
  format: "ghcr.io/emortalmc/games:%s-%s"
  # The image name. This is the first "%s" in the above format. Defaults to "{name}"
  #name: ""

# The name of the Dockerfile's JAR. Tower defence has a different JAR name.
#jarName: ""

# The version of the image. This will be automatically updated in each individual values override.
version: ""

# Whether the server is the lobby
# It's cleaner to do this than have multiple separate config variables that only the lobby overrides
lobby: false

players:
  capacity: # No default value, the limit per server

games:
  capacity: # No default value, the limit per server

extraEnv: [] # Extra environment variables to add to the container

# JVM memory options
memory:
  max: 512M
  min: 512M

# Server container resources override
resources:
  requests:
    cpu: '0'
    memory: 1Gi # Remember usage of: heap, off-heap, native memory, profiler overhead (separate proc)
  limits:
    cpu: 1500m
    memory: 1280Mi
